<nav></nav>

<h1>User Preferences</h1>

<form class="form-inline">
    <label for="displayName">Display Name</label>
    <input type="text" id="displayName" placeholder="Display Name" class="form-control" ng-model="$ctrl.userPreferences.displayName">

    <br><br>

    <label for="themeColor">Theme Color</label>
    <select name="themeColor" id="themeColor" ng-model="$ctrl.userPreferences.theme" ng-options="theme for theme in $ctrl.themes" class="form-control">

    </select>
    <div class="btn btn-primary btn-sm" ng-click="$ctrl.save()">Save</div>
    <div class="btn btn-primary btn-sm" ng-click="$ctrl.cancel()">Cancel</div>
</form>